/* Base HTML Styles */

:root {
  --pink: #f38fb1;
  --yellow: #f4d040;
  --green: #57d68d;
  --blue: #5dade2;
  --black: #111111;
  --gray: #c3c3c3;
}

/* CSS Reset */

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--black);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Global styles */
label,
input,
textarea,
select {
  display: block;
  width: 100%;
}

input,
select,
textarea {
  padding: 8px;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
}
/* Components */
.btn-primary,
.btn-secondary {
  padding: 12px 16px;
  display: inline-block;
  border-radius: 4px;
  color: var(--black);
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: white;
}
.btn-primary:hover {
  /* outline: 1px solid var(--black); */
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 2);
  /* transform:scale(1.1); */
  transform: translateY(-4px);
  /* background-color: rgba(255,255,255,0.7); */
}

.btn-secondary {
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid white;
}
.btn-secondary:hover {
  background-color: rgba(255, 255, 255, 1);
}

/* Header */
.desktop-nav {
  display: none;
}

@media (min-width: 768px) {
  .desktop-nav {
    display: inline-block;
  }

  .mobile-nav {
    display: none;
  }

  .hamburger-icon {
    display: none;
  }
}

.mobile-nav a {
  text-decoration: none;
  color: var(--black);
  display: block; /*Makes the whole line a link - a bit forgiving for mobile users who miss the mark*/
  padding: 4px 16px;
  text-align: right;
}

header .hamburger-button {
  all: unset;
}
@media (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header a {
    text-decoration: none;
    color: var(--black);
  }

  header nav ul {
    display: flex;
    gap: 24px;
    margin-right: 16px;
  }
}

.logo,
.hamburger-icon {
  height: 50px;
}

.mobile-header {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Hero */

#hero {
  background-color: var(--pink);
  padding: 56px 16px;
}

#hero h1 {
  font-size: 2rem;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  #hero {
    padding: 120px 56px;
  }

  #hero h1 {
    font-size: 3.5rem;
    max-width: 70%;
  }
}

.hero-accent {
  color: white;
}

/* Workshops article */
@media (min-width: 768px) {
  #courses {
    display: flex;
  }
  #courses article {
    padding: 56px;
  }
}

#courses article {
  padding: 32px 16px;
}

#courses article .icon {
  height: 24px;
  margin-bottom: 8px;
}

#courses article h2 {
  color: white;
}

#courses article h2,
#courses article p {
  margin-bottom: 16px;
}

#courses .workshops {
  background-color: var(--yellow);
  transition: all 0.3s ease;
}
#courses .workshops:hover {
  filter: contrast(110%);
}
#courses .flash {
  background-color: var(--green);
}

#courses .plus {
  background-color: var(--blue);
}

/* Contact Section */
#contact {
  padding: 48px 16px;
}

#contact input,
#contact select {
  margin-bottom: 16px;
}

#contact input[type="submit"] {
  background-color: var(--pink);
  border: 0;
  margin-top: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
#contact input[type="submit"]:hover {
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 2);
  transform: translateY(-1px);
}

#contact h2 {
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  #contact h2 {
    text-align: center;
    font-size: 2.5rem;
  }
  #contact form {
    max-width: 60%;
    margin: 40px auto;
  }

  /* #contact form {
    width: 60%;
    margin-left: 20%;
  } */

  /* #contact "div" {display: flex; justify-content: center; }would work if form in separate div from h2 */
}

/* Footer */
footer {
  text-align: center;
  padding: 16px;
}
footer a {
  color: var(--black);
  text-decoration: none;
}

footer a:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

/* Utilities */
.display-none {
  display: none;
}
